.petForm {
  display: flex;
  flex-direction: column;

  border: 2px solid rgb(79, 81, 85);
  border-radius: 5px;

  margin-top: 2rem;
  padding: 1rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
